.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    }
    .sidebar{
        display: flex;
        flex-direction: column;
    }
    .contactsSection{
        display: flex;
            justify-content: center;
    }