.phonebookContainer{
    max-width: 960px;
    margin: 0 auto;
    padding: 0 20px;
    position: relative;
}

.phonebook {
    text-align: center;
    color: rgb(43, 86, 165);
}
.helloPhonebook {
    text-align: center;
    font-size: 2rem;

}
.phoneManage {
    font-size: 1,5rem;
    text-align: center;
    
}

.phoneOrder {
    font-size: 1,2rem;
    text-align: center;
    margin-bottom: 2rem;
}
.navlinkContainer {
    display: flex;
    justify-content: center;
    gap: 20px;
}
.login {
    text-decoration: none;
    color: inherit;
    padding: 10px 20px;
    background-color: rgb(26, 81, 133);
    border: 1px solid black;
    border-radius: 20px;
    font-size: 1,2rem;
    font-weight: bold;
    cursor: pointer;
      
}

.register {
    text-decoration: none;
    color: inherit;
    padding: 10px 20px;
    background-color: rgb(26, 81, 133);
    border: 1px solid black;
    border-radius: 20px;
    font-size: 1,2rem;
    font-weight: bold;
    cursor: pointer;
       
}

